h1, 
.h1,
.title {
	font-size: 4.8rem;
	font-family: $font-primary;
	color: $color-primary;
	font-weight: 600;

	margin-top: 1rem;
}


h2,
.h2,
.second-title {
	font-size: 1.8rem;
	font-family: $font-primary;
	color: $color-second;
	text-transform: uppercase;
	font-weight: 700;

	margin-top: 1rem;
}

p,
.p,
.text {
	font-size: 1.8rem;
	font-family: $font-primary;
	color: $color-primary;
	font-weight: 700;

	margin-top: 1rem;
}